*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;    
    box-sizing: border-box;
}

#lista-filmes{
    display:flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 2rem;
}

#imglogo{
    width: 35%;
}

.card{
    margin: 1rem;
    width: 250px;
    height: 500px;
    display: flex;
}

#mostrar-filme{
    display: none;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 10vw;
    left : 35vw;
    border-radius: 3vw;
    padding: 2vw;
    z-index: 1;
}

.poster-detalhes{
    width: 250px;
    height: 400px;
    border-radius: 3vw;
    top: -3vw;
    left: -20vw;
}

.container-fluid{
    background-color: blueviolet;
}

#btn-buscar-filme{
    border-color:white ;
    color: white;
}

.card img{
    object-fit:cover;
    max-width: 50vh;
    height: 22rem;
}